.container{
    min-height: 200px;
    background-color: rgb(185, 185, 185);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem .5rem;
}

.medInfo{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
}