.container{
    flex: 1;
    height: 200px;
    background-color: rgb(172, 171, 171);
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.medInfo{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
}