.medications_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.medications_container h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
}

.medications_list {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;
  height: calc(100vh - 260px);
}

.medications_list hr {
  height: 2px;
  background-color: #8a8a8a;
  border: none;
}

.medications_list > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.emptyMessage {
  font-size: 18px;
  font-weight: 500;
}

.medication_box {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 30px;
  row-gap: 14px;
}

.medication_icon {
  height: 120px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--success-color);
}

.medication_data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.medication_name_edit {
  display: flex;
  justify-content: space-between;
}

.medication_name_edit p {
  font-size: 20px;
  font-weight: bold;
}

.medication_name_edit svg {
  cursor: pointer;
}

.recurrence {
  font-size: 18px;
}

.stock {
  font-size: 14px;
}

.learn_more_and_remove {
  display: flex;
  justify-content: space-between;
}

.learn_more_and_remove p {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.form{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editField{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editField > input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: .5rem 1rem;
}

.form > button {
  padding: .5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  cursor: pointer;
}

.aiModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hourglass {
  animation: spin 2s linear infinite;
}
