@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #0077B6;
  --primary-color-hover: #049aea;
  --secondary-color: #00B4D8;
  --dark-blue: #03045E;
  --dark-blue-hover: #04069e;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #7B7B7B;
  --success-color: #02864A;
  --danger-color: #CA0B00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}