:root {
  --primary-color: #0077B6;
  --secondary-color: #00B4D8;
  --dark-blue: #03045E;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #7B7B7B;
  --success-color: #02864A;
  --danger-color: #CA0B00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}