.container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 100%;
    max-width: 200px;
    color: var(--black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px black;
    transition: height 0.3s ease;
}

.topBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expanded {
    height: 100px;
}

.icon {
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.taken {
    color: green; /* Altere a cor ou adicione qualquer estilo para indicar que foi tomado */
}

.notTaken {
    color: red;
}