.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.top{
    text-align: center;
    margin-top: 60px;
    color: #000000;
}
.container{
    width: 75%;
    background: #ebebeb;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 15px 5px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputBox{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.dataInput{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 2px;
    border: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 1rem .5rem;
}

.dataInput::placeholder{
    color: #000;
}

.button{
    padding: 1rem .5rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

@media(max-width:1020px){
    .butaoEditar{
        left: 12.2vw;
    }
}
@media(max-width:942px){
    .butaoEditar{
        left: 11vw;
    }
}
@media(max-width:830px){
    .butaoEditar{
        top: 9vw;
        left: 10vw;
    }
    .top{
        font-size: 20px;
        margin-top: 70px;
    }

    .container{
        top: 50px;
    }
    .dataText{
        font-size: 8.5px;
        left: 2vw;
        top: 3vw;
    }
}

@media(max-width:750px){
    .butaoEditar{
        top: 9vw;
        left: 27vw;
    }
    .dataText{
        font-size: 8.5px;
        left: 2vw;
        top: 2.2vw;
    }
}
@media(max-width:690px){
    .butaoEditar{
        top: 8vw;
        left: 28vw;
    }
    .dataText{
        top: 2vw;
        left: 2vw;
        font-size: 8.5px;
    }
}
@media(max-width:680px){
    
    .dataText{
        top: 2vw;
        left: 2vw;
    }
}

@media(max-width:650px){
    .butaoEditar{
        height: 30px;
        top: 17vw;
        left: 19vw;
    }
    .top{
        font-size: 20px;
        margin-top: 70px;
    }

    .container{
        top: 30px;
        left: 25%;
        height: 250px;
        width: 50%;
    }
    .dataText{
        top: 30px;
        font-size: 12px;
    }
}

@media(max-width:465px){
    .butaoEditar{
        height: 30px;
        top: 20vw;
        left: 19vw;
    }
    .dataText{
        top: 35px;
        font-size: 2.35vw;
    }
}

@media(max-width:415px){
    .butaoEditar{
        height: 30px;
        top: 20vw;
        left: 19vw;
    }
    .container{
        top: 30px;
        left: 25%;
        height: 220px;
        width: 50%;
    }
}