.link{
    padding: 12px;
    font-size: 14px;
    display: flex;
    margin: 5px 0;
    border-radius: 8px 0px 0px 8px;
    transition: 0.3s;
    flex-direction: row-reverse;
    justify-content: start;
}

.link.active{
    background-color: var(--dark-blue);
    color: var(--white);
}

.notificationIcon{
    font-size: 20px;
    color: var(--danger-color);
}